@import "tailwindcss";

@theme {
  --color-burgundy: #510F23;
  --color-gold: #C19F6A;
  --color-cream: #E8DAC1;
  --color-slategray: #8C8C8C;
  --color-charcoal: #1A1A1A;
}

body {
  background-color: #fcf7f0;
  color: #1A1A1A;
}
